# Azure OpenAI Configuration
AZURE_OPENAI_API_KEY=
AZURE_OPENAI_ENDPOINT=
AZURE_OPENAI_CHAT_DEPLOYMENT_NAME=
AZURE_OPENAI_API_VERSION=

ENV_AZURE_OPENAI_GPT5_CHAT_DEPLOYMENT_NAME=

PYTHONPATH=

AZURE_EMBEDDING_MODEL=
AZURE_EMBEDDING_ENDPOINT=
AZURE_EMBEDDING_API_KEY=
AZURE_EMBEDDING_API_VERSION=

# Azure content safety endpoint
AZURE_CONTENT_SAFETY_ENDPOINT=
AZURE_CONTENT_SAFETY_API_KEY=

# Storage connection string
AZURE_STORAGE_CONNECTION_STRING=

# MongoDB credentials
ENV_MONGODB_CONNECTION_STRING=

