.DS_Store
.idea
.vscode/*
!.vscode/launch.json
.nyc_output
__pycache__/
**/node_modules/
**/build/
**/cypress/videos/
**/cypress/screenshots/
**/.nyc_output/
**/coverage/

main
out/
vendor/
_vendor-*
tmp/
**/.env
*.env
litmus-portal-service
litmus-portal-app
litmus-portal/graphql-server/server

**/client_id

*/data/*
data/*
# Setup scripts for local development
setup/
commands.txt
.github/*
*.log