setuptools==80.9.0
wheel==0.45.1
agent-framework==1.0.0b251223
aiohttp==3.13.2
anyio==4.12.0
azure-ai-agents==1.2.0b5
azure-ai-contentsafety==1.0.0
azure-ai-projects==2.0.0b2
azure-common==1.1.28
azure-core==1.37.0
azure-functions==1.24.0
azure-functions-durable==1.4.0
azure-identity==1.25.1
azure-monitor-opentelemetry>=1.6.0
azure-search-documents==11.7.0b2
azure-storage-blob==12.27.1
beautifulsoup4>=4.12.0
fastapi==0.127.0
lxml>=4.9.0
mcp==1.25.0
numpy==2.4.0
openai==2.14.0
PyAudio==0.2.14
pydantic==2.12.5
python-dotenv==1.2.1
requests==2.32.5
urllib3>=2.0.0
uvicorn==0.40.0
# MongoDB
pymongo[srv]==4.16.0
motor==3.7.1